.button {
  font-family: 'Press Start 2P';
  padding: 20px 60px;
  margin: 10px;
  outline: none;
  background-color: var(--brown-dark);
  border: none;
  color: var(--white);
}

.button:hover {
  background-color: var(--brown-light);
}

.button:active {
  background-color: var(--black-light);
  transform: translateY(4px);
}
