.fieldset {
  margin-top: var(--spacer-m);
  padding: var(--spacer-m);
}

.fieldset:last-child {
  text-align: left;
}

.div {
}

@media (min-width: 1366px) {
  .fieldset:last-child {
    columns: 3;
  }
}
