.table {
  width: 100%;
  margin: 0 auto;
}

.td {
  text-align: left;
  text-transform: capitalize;
}

.td + .td {
  text-align: right;
}

@media (min-width: 1366px) {
  .table {
    width: 60%;
  }
}
